* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

#material {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}
